<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @status.name %>
</p>

<%= link_to 'Edit', edit_status_path(@status), class: "btn btn-primary btn-small" %> |
<%= link_to 'Back', statuses_path, class: "btn btn-primary btn-small" %>
