<div id="nav">
  <ul class="nav nav-pills">
    <li class=<%= active_nav_class("jobs", params[:controller]) %>><a href="/jobs">Jobs</a></li>
    <li class=<%= active_nav_class("statuses", params[:controller]) %>><a href="/statuses">Statuses</a></li>
  </ul>
</div>