<%= form_for("search", :url => "/jobs", :method => :get) do |f| %>
    <p>
      <%= f.text_field "item" %>
      <span id="search_button">
        <%= f.submit  "Search", class: "btn btn-primary btn-small"%>
      </span>
    </p>
<% end %>